# Data Preprocessing Analysis

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

## Import Dataset
Show the top columns of the dataset, which includes the data of people with their country, age, salary, and if they bought a product.

In [10]:
df = pd.read_csv('snv-parse-test.txt', sep='\t')
df

,Chr,START_POS_REF,END_POS_REF,REF,ALT,REF_MFVdVs,ALT_MFVdVs,Sample_Name,FILTER_Mutect2,FILTER_Freebayes,FILTER_Vardict,FILTER_Varscan,m2_MQ,f_MQMR,vs_SSC,vs_SPV,vd_SSF,vd_MSI
0,1,10303,10303,C,T,NA/NA/NA/C/,NA/NA/NA/T/,icgc_cll_tumour,False,False,False,True,NaN,NaN,5.0,0.277780,NaN,NaN
1,1,16949,16949,A,C,A/NA/NA/A/,C/NA/NA/C/,icgc_cll_tumour,False,False,False,True,22.92,NaN,20.0,0.008314,NaN,NaN
2,1,20628,20628,A,G,NA/A/A/A/,NA/G/G/G/,icgc_cll_tumour,False,False,True,False,NaN,NaN,8.0,0.139060,0.00469,2.0
3,1,30489,30489,G,A,NA/NA/NA/G/,NA/NA/NA/A/,icgc_cll_tumour,False,False,False,True,NaN,NaN,13.0,0.046735,NaN,NaN
4,1,30808,30808,A,G,NA/NA/NA/A/,NA/NA/NA/G/,icgc_cll_tumour,False,False,False,True,NaN,NaN,19.0,0.012309,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3535,9,139138662,139138662,G,A,G/NA/NA/NA/,A/NA/NA/NA/,icgc_cll_tumour,True,False,False,False,60.00,NaN,NaN,NaN,NaN,NaN
3536,9,140378948,140378948,G,A,G/NA/NA/NA/,A/NA/NA/NA/,icgc_cll_tumour,True,False,False,False,60.00,NaN,NaN,NaN,NaN,NaN
3537,9,141046294,141046294,C,T,C/NA/NA/NA/,T/NA/NA/NA/,icgc_cll_tumour,True,False,False,False,58.97,NaN,NaN,NaN,NaN,NaN
3538,9,141062718,141062718,T,C,T/NA/NA/NA/,C/NA/NA/NA/,icgc_cll_tumour,True,False,False,False,58.84,NaN,NaN,NaN,NaN,NaN
3539,9,141081667,141081667,G,T,G/NA/NA/NA/,T/NA/NA/NA/,icgc_cll_tumour,True,False,False,False,46.62,NaN,NaN,NaN,NaN,NaN

Use the method 'info' to show how many Nan value are they, and what type of data object are they

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3540 entries, 0 to 3539
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Chr               3540 non-null   int64
 1   START_POS_REF     3540 non-null   int64
 2   END_POS_REF       3540 non-null   int64
 3   REF               3540 non-null   object
 4   ALT               3540 non-null   object
 5   REF_MFVdVs        3540 non-null   object
 6   ALT_MFVdVs        3540 non-null   object
 7   Sample_Name       3540 non-null   object
 8   FILTER_Mutect2    3540 non-null   bool
 9   FILTER_Freebayes  3540 non-null   bool
 10  FILTER_Vardict    3540 non-null   bool
 11  FILTER_Varscan    3540 non-null   bool
 12  m2_MQ             1845 non-null   float64
 13  f_MQMR            275 non-null    float64
 14  vs_SSC            1839 non-null   float64
 15  vs_SPV            1839 non-null   float64
 16  vd_SSF            679 non-null    float64
 17  vd_MSI            679 non-null    float64
dtypes: bool(4), float64(6), int64(3), object(5)
memory usage: 401.1+ KB

Use the method 'describe' to see the distribution of the numerical values and statistics data. Good to look at min/max values to see any outliers that must put attention on, etc.

In [4]:
df.describe()

,Chr,START_POS_REF,END_POS_REF,m2_MQ,f_MQMR,vs_SSC,vs_SPV,vd_SSF,vd_MSI
count,3540.000000,3.540000e+03,3.540000e+03,1845.000000,275.00000,1839.000000,1.839000e+03,679.000000,679.000000
mean,2.670621,7.986321e+07,7.986321e+07,53.903691,47.69237,15.670473,9.641288e-02,0.112889,3.407953
std,2.609021,5.788322e+07,5.788322e+07,9.531958,16.39375,14.995217,1.368349e-01,0.190983,4.073440
min,1.000000,1.030300e+04,1.030300e+04,22.920000,0.00000,0.000000,7.888400e-36,0.000000,0.000000
25%,1.000000,2.620891e+07,2.620891e+07,49.760000,38.35500,9.000000,1.471500e-02,0.006525,1.000000
50%,1.000000,7.517429e+07,7.517429e+07,60.000000,56.86590,13.000000,4.277500e-02,0.041010,2.000000
75%,4.000000,1.364683e+08,1.364683e+08,60.000000,60.00000,18.000000,1.250000e-01,0.123575,3.000000
max,10.000000,2.492362e+08,2.492362e+08,60.000000,60.00000,255.000000,1.000000e+00,1.000000,39.000000

The following method allows us to also see the number of null values of each column.

In [5]:
df.isnull().sum()

Chr                    0
START_POS_REF          0
END_POS_REF            0
REF                    0
ALT                    0
REF_MFVdVs             0
ALT_MFVdVs             0
Sample_Name            0
FILTER_Mutect2         0
FILTER_Freebayes       0
FILTER_Vardict         0
FILTER_Varscan         0
m2_MQ               1695
f_MQMR              3265
vs_SSC              1701
vs_SPV              1701
vd_SSF              2861
vd_MSI              2861
dtype: int64

## Analysis

### Understanding the data
Print the columns that compose the dataset

In [6]:
columns = df.columns.tolist()
columns

['Chr',
 'START_POS_REF',
 'END_POS_REF',
 'REF',
 'ALT',
 'REF_MFVdVs',
 'ALT_MFVdVs',
 'Sample_Name',
 'FILTER_Mutect2',
 'FILTER_Freebayes',
 'FILTER_Vardict',
 'FILTER_Varscan',
 'm2_MQ',
 'f_MQMR',
 'vs_SSC',
 'vs_SPV',
 'vd_SSF',
 'vd_MSI']

To be able to see the rows that have null values, we can use the following method

In [9]:
df[df.isnull().any(axis=1)]

,Chr,START_POS_REF,END_POS_REF,REF,ALT,REF_MFVdVs,ALT_MFVdVs,Sample_Name,FILTER_Mutect2,FILTER_Freebayes,FILTER_Vardict,FILTER_Varscan,m2_MQ,f_MQMR,vs_SSC,vs_SPV,vd_SSF,vd_MSI
0,1,10303,10303,C,T,NA/NA/NA/C/,NA/NA/NA/T/,icgc_cll_tumour,False,False,False,True,NaN,NaN,5.0,0.277780,NaN,NaN
1,1,16949,16949,A,C,A/NA/NA/A/,C/NA/NA/C/,icgc_cll_tumour,False,False,False,True,22.92,NaN,20.0,0.008314,NaN,NaN
2,1,20628,20628,A,G,NA/A/A/A/,NA/G/G/G/,icgc_cll_tumour,False,False,True,False,NaN,NaN,8.0,0.139060,0.00469,2.0
3,1,30489,30489,G,A,NA/NA/NA/G/,NA/NA/NA/A/,icgc_cll_tumour,False,False,False,True,NaN,NaN,13.0,0.046735,NaN,NaN
4,1,30808,30808,A,G,NA/NA/NA/A/,NA/NA/NA/G/,icgc_cll_tumour,False,False,False,True,NaN,NaN,19.0,0.012309,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3535,9,139138662,139138662,G,A,G/NA/NA/NA/,A/NA/NA/NA/,icgc_cll_tumour,True,False,False,False,60.00,NaN,NaN,NaN,NaN,NaN
3536,9,140378948,140378948,G,A,G/NA/NA/NA/,A/NA/NA/NA/,icgc_cll_tumour,True,False,False,False,60.00,NaN,NaN,NaN,NaN,NaN
3537,9,141046294,141046294,C,T,C/NA/NA/NA/,T/NA/NA/NA/,icgc_cll_tumour,True,False,False,False,58.97,NaN,NaN,NaN,NaN,NaN
3538,9,141062718,141062718,T,C,T/NA/NA/NA/,C/NA/NA/NA/,icgc_cll_tumour,True,False,False,False,58.84,NaN,NaN,NaN,NaN,NaN
3539,9,141081667,141081667,G,T,G/NA/NA/NA/,T/NA/NA/NA/,icgc_cll_tumour,True,False,False,False,46.62,NaN,NaN,NaN,NaN,NaN